/* CHAT WIDGET CONTAINER */
.chat-widget {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 9999;
    margin: auto;
}

/* MAIN BUTTON */
.chat-main-btn {
    width: 60px;
    height: 55px;
    background: none;
    color: white;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

/* OPTIONS CONTAINER */
.chat-options {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

/* SHOW STATE */
.chat-options.active {
    display: flex;
}

/* OPTION BUTTONS */
.chat-option {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/* COLORS */
.chat-option.whatsapp {
    background: #25D366;
}

.chat-option.email {
    background: #c99510;
}
.chat-option {
    transition: transform 0.3s ease;
}

.chat-options.active .chat-option {
    transform: translateY(0);
}

.chat-widget img{
    height: 40px;
    width: 35px;
}