<link rel="stylesheet" href="{{url_for('static', filename = 'widget.css')}}">

<div class="chat-widget">

    <div class="chat-main-btn" id="chatToggle">
        <a href="https://wa.me/260573072166">
             <img src="{{url_for('static', filename='icons/whatsapp-gold.svg')}}" alt="">
            
        </a>

    </div>
<!--     <div class="chat-options" id="chatOptions">
        <a href="https://wa.me/260965226263" target="_blank">
           <img src="{{url_for('static', filename='icons/whatsapp_icon.svg')}}" alt="" title="Chat on WhatsApp">
        </a>
        <a href="#">
            <img src="{{url_for('static', filename='icons/chatbot.svg')}}" alt="">
        </a>
    </div> -->

</div>

<script>

document.addEventListener("DOMContentLoaded", function(){
    const toggle = document.getElementById("chatToggle");
})



    // document.addEventListener("DOMContentLoaded", function(){
    //     const toggle = document.getElementById("chatToggle");
    //     const options = document.getElementById("chatOptions");

    //     toggle.addEventListener("click", ()
    // })
</script>